{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    // "plugins": [
    //     ["prismjs", {
    //         "languages": ["javascript", "css", "markup", "c", "python", "shell"],
    //         "plugins": ["copy-to-clipboard", "line-numbers", "show-language"],
    //         "theme": "tomorrow",
    //         "css": true
    //     }]
    // ]
}