{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    // TODO: Fix the code snippet
    "plugins": [
        ["prismjs", {
            "languages": ["javascript", "css", "markup", "c", "python", "shell", "markdown"],
            "plugins": ["copy-to-clipboard", "line-numbers", "show-language"],
            "theme": "tomorrow",
            "css": true
        }]
    ]
}