.editor-container {
    flex: 1;
    display: flex;
    height: 100%;
    pre {
        border-radius: 1rem;
    }
    .editor {
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 1px solid #00000033;
        flex: 1;
        padding: 1rem;
        margin: 1rem;
        textarea {
            height: 100%;
            flex: 1;
            border: none;
            outline: none;
            resize: none;
        }
    }
    .renderer {
        display: flex;
        flex-direction: column;
        border: 1px solid #00000033;
        flex: 1;
        margin: 1rem;
        padding: 1rem;
        .react-markdown {
            flex: 1;
            overflow-y: auto;
        }
    }
}