@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    padding: unset;
    margin: unset;
}
.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}
.toast {
    position: absolute;
    bottom: 5rem;
    left: 45%;
    background: #1F1717;
    color: #F6F1F1;
    z-index: 1000;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
* {
    font-family: "Montserrat", sans-serif;
  }